<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rockstargames.gtasa">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:glEsVersion="0x30000" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="SA: Launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:isGame="true"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:allowAudioPlaybackCapture="true"
        tools:targetApi="31">

        <activity
            android:name=".GTASA"
            android:exported="true"
            android:theme="@style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:windowSoftInputMode="stateHidden"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="APP_NAME" android:value="com.rockstargames.gtasa" />
        <meta-data android:name="LAUNCHER_USE_LAUNCHER_SETTINGS_XML" android:value="no" />
        <meta-data android:name="LAUNCHER_ORIGINAL_PACKAGE_NAME" android:value="com.rockstargames.gtasa" />
        <meta-data android:name="LAUNCHER_USE_ANDROID_UNPROTECTED_DIRECTORY" android:value="yes" />
        <meta-data android:name="LAUNCHER_ANDROID_DATA_DIRECTORY" android:value="com.rockstargames.gtasa" />
        <meta-data android:name="LAUNCHER_ANDROID_OBB_DIRECTORY" android:value="com.rockstargames.gtasa" />
        <meta-data android:name="LAUNCHER_CHECK_FOR_MULTIPLE_DIRS" android:value="no" />
        <meta-data android:name="LAUNCHER_ASSETPACKS_USED" android:value="no" />
        <meta-data android:name="LAUNCHER_SHOW_MESSAGE_BOX_ON_APPLICATION_STARTUP" android:value="no" />

    </application>

</manifest>
